@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

:root {
    /*|||||||||||||||| Colors |||||||||||||||||||||||||*/


    /*\\\\\\\\ Primary \\\\\\\\\\\*/

    --primarLightColor: hsl(215, 51%, 70%);
    /* - Soft blue */
    --primaryDarkColor: hsl(178, 100%, 50%);
    /* - Cyan */

    /*/////////// Neutral /////////////*/

    --neutralMainDarkColor: hsl(217, 54%, 11%);
    /* - Very dark blue (main BG) */
    --neutralCardDarkColor: hsl(216, 50%, 16%);
    /* - Very dark blue (card BG) */
    --neutalLineDarkColor: hsl(215, 32%, 27%);
    /* - Very dark blue (line) */
    --neutralLightColor: hsl(0, 0%, 100%);
    /* - White */

    /*////////////// Typography //////////////////*/

    --FSize: 18px;
    /* font-size */

    --FF: 'Outfit', sans-serif;
    /* Font-Family */

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--neutralMainDarkColor);
    line-height: 1.4;
    font-family: var(--FF);
}

.container {
    background-color: #fff;
    max-width: 19.25rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    background-color: var(--neutralCardDarkColor);
    box-shadow: 5px 5px 12px 3px rgb(0 0 0 / 4%);
    position: relative;
}

.container .nft-pic {
    width: 16.85rem;
    height: auto;
    border-radius: 0.65rem;
    
}
.nft-overlay{
    width: 16.85rem;
    height: 16.85rem;
    border-radius: 0.65rem;
    top:1.2rem;
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    opacity: 0;
}


.nft-overlay:hover{
    background-color:  hsla(178, 100%, 50%, 0.322);
    opacity: 1;   
}


h1 {
    font-size: 1.25rem;
    margin: .8rem 0;
    color:var(--neutralLightColor);
    cursor: pointer;
    transition: .2s ease;
}
h1:hover{
    color:var(--primaryDarkColor);
}

p {
    align-items: center;
    color: var(--primarLightColor);
}

.container .eth-box{
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    
}
.container .eth-rate p{
    color: var(--primaryDarkColor);
}

.container div .eth-rate, .container div .clock{
    display: flex;
    align-items: center;

}

.container .eth-rate .icon {
    height: 14px;
    width: auto;
    padding-right: 5px;    
}

.container .clock .icon {
    height: 16px;
    width: auto;
    padding-right: 5px;  
}

.container .line {
    width: 100%;
    height: 1px;
    background-color:var(--primarLightColor);
    margin: .8rem 0;
}

.container .creator {
    display: flex;
    align-items: center;
}

.container .creator p {
    padding-left: 0.5rem;
}

.container .creator p span{
    padding-left: 0.20rem;
    cursor: pointer;
    color:var(--neutralLightColor);
}

.container .creator p span:hover{
    color:var(--primaryDarkColor);
}

.container .creator img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1.5px solid var(--neutralLightColor);
}
@media screen and (min-width:900px) {

    .container{
        max-width: 20rem;
    }

    .container .nft-pic {
        width: 17.70rem;
    } 
    .nft-overlay{
        width: 17.70rem;
        height: 17.70rem;
    }
    .container .line{
        margin: 1.20rem 0;
    }
    
}